// ===============================================
// Variables.styl                               ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

font-family-sans-serif = 'Biaodian Pro Sans GB', 'Helvetica Neue', Helvetica, Arial, 'Han Heiti GB', sans-serif
font-family-serif      = 'Numeral LF Serif', Georgia, 'Times New Roman', 'Han Kaiti', Times, SimSun, serif
font-family-kai        = 'Numeral LF Serif', Georgia, 'Times New Roman', Times, 'Zhuyin Kaiti', Kai, 'Kaiti SC', KaiTi, BiauKai, cursive, serif
font-family-monospace  = 'Source Code Pro', Monaco, Menlo, Consolas, 'Courier New', monospace
font-family-normal = font-family-sans-serif

font-family-ja-serif           = 'Yakumono Sans', font-family-serif
font-family-ja-sans-serif      = 'Yakumono Sans', font-family-sans-serif
font-family-ja-monospace       = 'Yakumono Sans', font-family-monospace
font-family-zh-CN-serif        = 'Biaodian Pro Serif GB', font-family-serif
font-family-zh-CN-sans-serif   = 'Biaodian Pro Sans GB', 'Helvetica Neue', Helvetica, Arial, 'Han Heiti GB', sans-serif
font-faimly-zh-CN-monospace    = 'Biaodian Pro Sans GB', font-family-monospace
font-family-zh-Hant-serif      = 'Biaodian Pro Serif', font-family-serif
font-family-zh-Hant-sans-serif = 'Biaodian Pro Sans CNS', 'Helvetica Neue', Helvetica, Arial, 'Zhuyin Heiti', 'Han Heiti', sans-serif
font-family-zh-Hant-monospace  = 'Biaodian pro Sans CNS', font-family-monospace

color-normal    = #333
color-dark-grey = #888
color-link      = #111
color-link-grey = #bbb

color-primary   = #198ac8
color-secondary = #16cbdf
color-success   = #19c870
color-error     = #c8192a
color-warning   = #e0ca00

color-background-bar   = #f7f7f7
color-background-code  = #f7f7f7
color-background-table = #f7f7f7
color-background-table-hover = #e8e8e8
color-background-table-mark  = #ffff85

color-border-light  = #dbdbdb
color-border-normal = #ddd
color-border-focus  = #888
color-border-mark   = #eaea90

// Media queries
mq-mobile = 'screen and (max-width: 768px)'
mq-tablet = 'screen and (min-width: 768px) and (max-width: 1024px)'
mq-normal = 'screen and (min-width: 1024px)'
