// ================================================
// Mixins.scss                                   ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

// CSS 3
// -----------------------------------------------------------------------------

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// Border Radius
@mixin border-top-radius($n) {
  border-radius: $n $n 0 0;
}

@mixin border-right-radius($n) {
  border-radius: 0 $n $n 0;
}

@mixin border-bottom-radius($n) {
  border-radius: 0 0 $n $n;
}

@mixin border-left-radius($n) {
  border-radius: 0 $n $n 0;
}

@mixin spin($v) {
  animation: spin $v infinite linear;
}

// Float

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Center

@mixin center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Size

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin square($w) {
  @include size($w, $w);
}

@mixin circle($w) {
  @include square($w);
  @include border-radius(50%);
}
