// ================================================
// Utilities.scss                                ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

// Position

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

// Float

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  @include clearfix();
}

// Text & Block

.center {
  @include center();
}

// Display

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.hide {
  display: none !important;
  visibility: hidden !important;
}

// Font-family

.serif {
  font-family: $font-family-serif;
}

.kai {
  font-family: $font-family-kai;
}

.monospace {
  font-family: $font-family-monospace;
}

// Other

.container {
  max-width: 80%;

  @include center();
  @include clearfix();

  @media #{$mq-tablet} {
    max-width: 92%;
  }

  @media #{$mq-mobile} {
    max-width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.radius {
  border-radius: 5px;
}
