// ===============================================
// Variables.scss                               ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

$font-family-normal: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
$font-family-sans-serif: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, SimSun, serif;
$font-family-kai: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, serif;
$font-family-monospace: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;

$color-normal: #222;
$color-dark-grey: #888;
$color-link: #333;
$color-link-grey: #bbb;

$color-primary: #198ac8;
$color-secondary: #4eb3e9;
$color-success: #19c856;
$color-error: #e63752;
$color-warning: #e8cB2c;

$color-background-bar: #f7f7f7;
$color-background-code: #f7f7f7;
$color-background-table: #f7f7f7;
$color-background-table-hover: #e8e8e8;
$color-background-table-mark: #ffff85;

$color-border-light: #dbdbdb;
$color-border-normal: #ddd;
$color-border-focus: #888;
$color-border-mark: #eaea90;

$color-grey: #808080;

// Media queries
$mq-mobile: 'screen and (max-width: 768px)';
$mq-tablet: 'screen and (min-width: 768px) and (max-width: 1024px)';
$mq-normal: 'screen and (min-width: 1024px)';
