// ===============================================
// Typograhpy / ja / Typograhpy.styl            ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../../variables"

[lang='ja']
  font-family: font-family-ja-sans-serif

  tt
  pre
  code
    font-family: font-family-ja-monospace

blockquote:lang(ja)
[lang*='ja'] blockquote
  font-family: font-family-ja-serif
