// ===============================================
// Typograhpy / zh / Typograhpy.styl            ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../../variables"

[lang^='zh']
[lang*='Hans']
  font-family: font-family-zh-CN-sans-serif

  tt
  pre
  code
    font-family: font-family-zh-CN-monospace

[lang*='Hant']
  font-family: font-family-zh-Hant-sans-serif

  tt
  pre
  code
    font-family: font-family-zh-Hant-monospace

blockquote:lang(zh)
blockquote:lang(zh-CN)
blockquote:lang(zh-Hans)
[lang*='Hant'] blockquote
  font-family: font-family-zh-CN-serif

blockquote:lang(zh-HK)
blockquote:lang(zh-TW)
blockquote:lang(zh-Hant)
[lang*='Hant'] blockquote
  font-family: font-family-zh-Hant-serif
