// ================================================
// Elements / Button.scss                        ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

// Let's Change Button's Color
// ==============================================
// Variables: c: background color
//            t: text color

@mixin BtnColor($c, $t) {
  color: $t;
  background-color: $c;

  &.hover,
  &:hover {
    background-color: lighten($c, 6);
  }

  &.active,
  &:active {
    background-color: darken($c, 4);
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:active {
      border: 0;
      opacity: .6;
      background: $c;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
}

// Create A Button
// ==============================================
// Variables: c: background color
//            t: text color

@mixin Btn($c, $t) {
  border: 0;
  outline: 0;
  margin: .225em;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
  line-height: 1.5em;
  padding: .35em 1.2em;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, .4);
  transition: background .4s ease, box-shadow .2s ease;
  @include BtnColor($c, $t);

  [class*=icon-]:before {
    color: t;
    transform: scale(1.2);
  }

  &:hover {
    box-shadow: 0 0px 3px rgba(0, 0, 0, .4);
  }

  &.active,
  &:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  }
}

.btn {
  @include Btn(#fff, $color-normal);

  &.btn-primary {
    @include BtnColor($color-primary, #fff);
  }

  &.btn-secondary {
    @include BtnColor($color-secondary, #fff);
  }

  &.btn-success {
    @include BtnColor($color-success, #fff);
  }

  &.btn-error {
    @include BtnColor($color-error, #fff);
  }

  &.btn-warning {
    @include BtnColor($color-warning, #fff);
  }

  &.btn-ghost {
    color: #fff;
    box-shadow: none;
    border: 1px solid;
    background-color: transparent;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .6);

    &.hover,
    &:hover {
      color: #fff;
      border: 1px solid;
      background-color: rgba(0, 0, 0, .3);
    }

    &.active,
    &:active {
      color: #fff;
      border: 1px solid;
      background-color: rgba(0, 0, 0, .6);
    }

    &:visited {
      color: #fff;
    }
  }

  &.btn-xl {
    font-size: 150%;
  }

  &.btn-lg {
    font-size: 125%;
  }

  &.btn-sm {
    font-size: 75%;
  }

  &.btn-xs {
    font-size: 50%;
  }
}
