// ================================================
// Elements / Code.scss                          ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

tt,
code,
pre {
  font-family: $font-family-monospace;
}

tt,
code {
  font-size: .8em;
  margin: 0 .3em;
  padding: .1em .5em;
  border-radius: 3px;
  word-break: break-all;
  background: $color-background-code;
  border: 1px solid $color-border-normal;
}

pre {
  display: block;
  overflow: auto;
  margin: 1.6em 0;
  font-size: .9em;
  line-height: 1.5;
  padding-left: 1.3rem;
  color: $color-dark-grey;
  border-left: 2px solid $color-border-normal;
  transition: .2s ease border;

  &:hover {
    border-left-color: $color-border-focus;
  }

  code,
  tt {
    padding: 0;
    border: none;
    font-size: 1rem;
    background: none;
  }
}
blockquote {
  padding-left: 1.3rem;
  margin: 0 0 1.6rem 0;
  font-size: .9rem;
  line-height: 1.62;
  color: $color-dark-grey;
  border-left: 2px solid $color-border-normal;

  small {
    color: $color-link-grey;
    display: block;
    text-align: right;
  }

  a {
    color: $color-link-grey;
  }

  p {
    margin-bottom: .5em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
