/**
 * Koishumi
 *
 * @author Rakume Hayashi<i@fake.moe>
 */

@import "lutachu"

body
  background-color: #f5f5f5

.container
#header
#footer
  max-width: 50%

  @media mq-mobile
    max-width: inherit

  @media mq-tablet
    max-width: 90%

@media mq-mobile
  #main
    padding: 0

  body
    padding: 0 10px

#header
  margin: 4rem auto
  text-align: center

  .header-descripition
    color: #999
    text-align: center

#main
  background-color: #fff

  box-shadow: 0 2px 6px rgba(0, 0, 0, .1)

#home
  padding: 2rem 3rem

.post
  margin: 1.5rem 0

  &:first-child
    margin-top: 0

  &:last-child
    margin-bottom: 0

.post-header
  text-align: center
  margin: 1rem 0 .5rem

  border-bottom: 1px solid #f5f5f5

.post-datetime
  color: #999
  font-style: italic

.post-title
  width: 80%
  margin: .5rem auto 1rem

.post-link
  color: #269
  text-decoration: none

  &:hover
    color: #1d5884

.post-date
  color: #999

  display: block
  margin-top: .35rem

.post-content
  padding: 2rem 2.5rem

  p:last-child
    margin: 0

#comment
  margin: .5rem 0 0
  padding: .5rem 2rem 0

  border-top: 1px solid #f5f5f5
  background: #fbfbfb

#footer
  margin: 3rem auto

  color: #999
  font-size: 1.2rem

  p
    margin: 0
    text-align: center
