// ================================================
// Fonts / Foundation.scss                       ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

/*
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */

// fi-path = "//dn-staticfile.qbox.me/foundicons/3.0.0/"
$fi-path: "./fonts/";
$fi-prefix: "icon-";

@font-face {
  font-family: "foundation-icons";
  src: url($fi-path + "foundation-icons.eot");
  src: url($fi-path + "foundation-icons.eot?#iefix") format("embedded-opentype"),
       url($fi-path + "foundation-icons.woff") format("woff"),
       url($fi-path + "foundation-icons.ttf") format("truetype"),
       url($fi-path + "foundation-icons.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*=#{$fi-prefix}] {
  display: inline-block;

  &:before {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
  }
}

// Size

.#{$fi-prefix}sm {
  font-size: 75%;
}

.#{$fi-prefix}md {
  font-size: 125%;
}

.#{$fi-prefix}lg {
  font-size: 150%;
}

// Spin
.#{$fi-prefix}spin {
  @include spin(2s);
}

// Font
$fi-fonts: (
  address-book: "\f100",
  alert: "\f101",
  align-center: "\f102",
  align-justify: "\f103",
  align-left: "\f104",
  align-right: "\f105",
  anchor: "\f106",
  annotate: "\f107",
  archive: "\f108",
  arrow-down: "\f109",
  arrow-left: "\f10a",
  arrow-right: "\f10b",
  arrow-up: "\f10c",
  arrows-compress: "\f10d",
  arrows-expand: "\f10e",
  arrows-in: "\f10f",
  arrows-out: "\f110",
  asl: "\f111",
  asterisk: "\f112",
  at-sign: "\f113",
  background-color: "\f114",
  battery-empty: "\f115",
  battery-full: "\f116",
  battery-half: "\f117",
  bitcoin-circle: "\f118",
  bitcoin: "\f119",
  blind: "\f11a",
  bluetooth: "\f11b",
  bold: "\f11c",
  book-bookmark: "\f11d",
  book: "\f11e",
  bookmark: "\f11f",
  braille: "\f120",
  burst-new: "\f121",
  burst-sale: "\f122",
  burst: "\f123",
  calendar: "\f124",
  camera: "\f125",
  check: "\f126",
  checkbox: "\f127",
  clipboard-notes: "\f128",
  clipboard-pencil: "\f129",
  clipboard: "\f12a",
  clock: "\f12b",
  closed-caption: "\f12c",
  cloud: "\f12d",
  comment-minus: "\f12e",
  comment-quotes: "\f12f",
  comment-video: "\f130",
  comment: "\f131",
  comments: "\f132",
  compass: "\f133",
  contrast: "\f134",
  credit-card: "\f135",
  crop: "\f136",
  crown: "\f137",
  css3: "\f138",
  database: "\f139",
  die-five: "\f13a",
  die-four: "\f13b",
  die-one: "\f13c",
  die-six: "\f13d",
  die-three: "\f13e",
  die-two: "\f13f",
  dislike: "\f140",
  dollar-bill: "\f141",
  dollar: "\f142",
  download: "\f143",
  eject: "\f144",
  elevator: "\f145",
  euro: "\f146",
  eye: "\f147",
  fast-forward: "\f148",
  female-symbol: "\f149",
  female: "\f14a",
  filter: "\f14b",
  first-aid: "\f14c",
  flag: "\f14d",
  folder-add: "\f14e",
  folder-lock: "\f14f",
  folder: "\f150",
  foot: "\f151",
  foundation: "\f152",
  graph-bar: "\f153",
  graph-horizontal: "\f154",
  graph-pie: "\f155",
  graph-trend: "\f156",
  guide-dog: "\f157",
  hearing-aid: "\f158",
  heart: "\f159",
  home: "\f15a",
  html5: "\f15b",
  indent-less: "\f15c",
  indent-more: "\f15d",
  info: "\f15e",
  italic: "\f15f",
  key: "\f160",
  laptop: "\f161",
  layout: "\f162",
  lightbulb: "\f163",
  like: "\f164",
  link: "\f165",
  list-bullet: "\f166",
  list-number: "\f167",
  list-thumbnails: "\f168",
  list: "\f169",
  lock: "\f16a",
  loop: "\f16b",
  magnifying-glass: "\f16c",
  mail: "\f16d",
  male-female: "\f16e",
  male-symbol: "\f16f",
  male: "\f170",
  map: "\f171",
  marker: "\f172",
  megaphone: "\f173",
  microphone: "\f174",
  minus-circle: "\f175",
  minus: "\f176",
  mobile-signal: "\f177",
  mobile: "\f178",
  monitor: "\f179",
  mountains: "\f17a",
  music: "\f17b",
  next: "\f17c",
  no-dogs: "\f17d",
  no-smoking: "\f17e",
  page-add: "\f17f",
  page-copy: "\f180",
  page-csv: "\f181",
  page-delete: "\f182",
  page-doc: "\f183",
  page-edit: "\f184",
  page-export-csv: "\f185",
  page-export-doc: "\f186",
  page-export-pdf: "\f187",
  page-export: "\f188",
  page-filled: "\f189",
  page-multiple: "\f18a",
  page-pdf: "\f18b",
  page-remove: "\f18c",
  page-search: "\f18d",
  page: "\f18e",
  paint-bucket: "\f18f",
  paperclip: "\f190",
  pause: "\f191",
  paw: "\f192",
  paypal: "\f193",
  pencil: "\f194",
  photo: "\f195",
  play-circle: "\f196",
  play-video: "\f197",
  play: "\f198",
  plus: "\f199",
  pound: "\f19a",
  power: "\f19b",
  previous: "\f19c",
  price-tag: "\f19d",
  pricetag-multiple: "\f19e",
  print: "\f19f",
  prohibited: "\f1a0",
  projection-screen: "\f1a1",
  puzzle: "\f1a2",
  quote: "\f1a3",
  record: "\f1a4",
  refresh: "\f1a5",
  results-demographics: "\f1a6",
  results: "\f1a7",
  rewind-ten: "\f1a8",
  rewind: "\f1a9",
  rss: "\f1aa",
  safety-cone: "\f1ab",
  save: "\f1ac",
  share: "\f1ad",
  sheriff-badge: "\f1ae",
  shield: "\f1af",
  shopping-bag: "\f1b0",
  shopping-cart: "\f1b1",
  shuffle: "\f1b2",
  skull: "\f1b3",
  social-500px: "\f1b4",
  social-adobe: "\f1b5",
  social-amazon: "\f1b6",
  social-android: "\f1b7",
  social-apple: "\f1b8",
  social-behance: "\f1b9",
  social-bing: "\f1ba",
  social-blogger: "\f1bb",
  social-delicious: "\f1bc",
  social-designer-news: "\f1bd",
  social-deviant-art: "\f1be",
  social-digg: "\f1bf",
  social-dribbble: "\f1c0",
  social-drive: "\f1c1",
  social-dropbox: "\f1c2",
  social-evernote: "\f1c3",
  social-facebook: "\f1c4",
  social-flickr: "\f1c5",
  social-forrst: "\f1c6",
  social-foursquare: "\f1c7",
  social-game-center: "\f1c8",
  social-github: "\f1c9",
  social-google-plus: "\f1ca",
  social-hacker-news: "\f1cb",
  social-hi5: "\f1cc",
  social-instagram: "\f1cd",
  social-joomla: "\f1ce",
  social-lastfm: "\f1cf",
  social-linkedin: "\f1d0",
  social-medium: "\f1d1",
  social-myspace: "\f1d2",
  social-orkut: "\f1d3",
  social-path: "\f1d4",
  social-picasa: "\f1d5",
  social-pinterest: "\f1d6",
  social-rdio: "\f1d7",
  social-reddit: "\f1d8",
  social-skillshare: "\f1d9",
  social-skype: "\f1da",
  social-smashing-mag: "\f1db",
  social-snapchat: "\f1dc",
  social-spotify: "\f1dd",
  social-squidoo: "\f1de",
  social-stack-overflow: "\f1df",
  social-steam: "\f1e0",
  social-stumbleupon: "\f1e1",
  social-treehouse: "\f1e2",
  social-tumblr: "\f1e3",
  social-twitter: "\f1e4",
  social-vimeo: "\f1e5",
  social-windows: "\f1e6",
  social-xbox: "\f1e7",
  social-yahoo: "\f1e8",
  social-yelp: "\f1e9",
  social-youtube: "\f1ea",
  social-zerply: "\f1eb",
  social-zurb: "\f1ec",
  sound: "\f1ed",
  star: "\f1ee",
  stop: "\f1ef",
  strikethrough: "\f1f0",
  subscript: "\f1f1",
  superscript: "\f1f2",
  tablet-landscape: "\f1f3",
  tablet-portrait: "\f1f4",
  target-two: "\f1f5",
  target: "\f1f6",
  telephone-accessible: "\f1f7",
  telephone: "\f1f8",
  text-color: "\f1f9",
  thumbnails: "\f1fa",
  ticket: "\f1fb",
  torso-business: "\f1fc",
  torso-female: "\f1fd",
  torso: "\f1fe",
  torsos-all-female: "\f1ff",
  torsos-all: "\f200",
  torsos-female-male: "\f201",
  torsos-male-female: "\f202",
  torsos: "\f203",
  trash: "\f204",
  trees: "\f205",
  trophy: "\f206",
  underline: "\f207",
  universal-access: "\f208",
  unlink: "\f209",
  unlock: "\f20a",
  upload-cloud: "\f20b",
  upload: "\f20c",
  usb: "\f20d",
  video: "\f20e",
  volume-none: "\f20f",
  volume-strike: "\f210",
  volume: "\f211",
  web: "\f212",
  wheelchair: "\f213",
  widget: "\f214",
  wrench: "\f215",
  x-circle: "\f216",
  x: "\f217",
  yen: "\f218",
  zoom-in: "\f219",
  zoom-out: "\f21a"
);

@each $name, $code in $fi-fonts {
  .#{$fi-prefix}#{$name}:before {
    content: $code;
  }
}
