// ===============================================
// Layout / Grid.styl                           ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"
@require "../mixins/box"
@require "../mixins/grid"

.grid
  center()
  clearfix()

  margin-top: 1em
  margin-left: -1em
  margin-right: -1em

[class=u-]
  float: left
  padding: 0 1em
  display: inline

make-grid()

@media mq-mobile
  make-grid-normal(12, u-mobile)
  make-grid-offset(12, u-offset-mobile)
  make-grid-avg(9, u-avg-mobile)

@media mq-tablet
  make-grid-normal(12, u-tablet)
  make-grid-offset(12, u-offset-tablet)
  make-grid-avg(9, u-avg-tablet)

@media mq-normal
  make-grid-normal(12, u-normal)
  make-grid-offset(12, u-offset-normal)
  make-grid-avg(9, u-avg-normal)
