// ================================================
// Layout / Grid.scss                            ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

.grid {
  @include center();
  @include clearfix();

  margin-top: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

[class=grid-u] {
  float: left;
  padding: 0 1em;
  display: inline;
}

.grid-u {
  @media #{$mq-normal} {
    @for $n from 1 through 12 {
      &.u-n#{$n} {
        width: ($n/12) * 100 + '%';
      }

      &.u-ml-n#{$n} {
        margin-left: ($n/12) * 100 + '%';
      }

      // AVG Grid
      &.u-avg-n#{$n} {
        width: (1/$n) * 100 + '%';
      }
    }
  }

  @media #{$mq-tablet} {
    @for $n from 1 through 12 {
      &.u-t#{$n} {
        width: ($n/12) * 100 + '%';
      }

      &.u-ml-t#{$n} {
        margin-left: ($n/12) * 100 + '%';
      }

      // AVG Grid
      &.u-avg-t#{$n} {
        width: (1/$n) * 100 + '%';
      }
    }
  }

  @media #{$mq-mobile} {
    @for $n from 1 through 12 {
      &.u-m#{$n} {
        width: ($n/12) * 100 + '%';
      }

      &.u-ml-m#{$n} {
        margin-left: ($n/12) * 100 + '%';
      }

      // AVG Grid
      &.u-avg-m#{$n} {
        width: (1/$n) * 100 + '%';
      }
    }
  }
}
