// ================================================
// Components / Nav.scss                         ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Awc Cho<orancho@outlook.com> ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

.nav {
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .4);

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  a {
    line-height: 3rem;
    color: #fff;

    text-decoration: none;
  }

  a.nav-band {
    font-weight: 600;
  }

  .container {
    min-height: 3rem;
  }

  ul.nav-group {
    margin: 0 !important;

    li {
      float: left;
      margin: 0;
      list-style: none;
      transition: .3s ease;

      a {
        display: block;
        padding: 0 1.5em;
      }

      &:hover {
        background-color: rgba(0, 0, 0, .2);
      }

      &.active,
      &:active {
        background-color: rgba(0, 0, 0, .6);
      }
    }
  }
}
