// ================================================
// Components / Poem.scss                        ||
//                                               ||
// ============================================= ||
// Copyright 2015 @ Rakume<i@fake.moe>           ||
//                @ Hitomi<geminiviol@gmail.com> ||
// MIT License                                   ||
// ================================================

// Horizontal Poem
// ==============================================

.poem-hc {
  text-align: center;
  margin: 2em 0;

  p {
    margin-bottom: .2em;

    &:before {
      content: none;
    }
  }

  .poem-author {
    display: block;
    text-align: right;
    font-weight: 800;

    &:before {
      content: '——';
    }
  }
}

// Vertical Poem
// ==============================================

.poem-lr,
.poem-rl {
  display: block;
  white-space: pre-line;
  margin: 2em auto;
  line-height: 1.4em;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .poem-title {
    margin: 0;
    margin-left: -.5em;
    font-weight: bold;
    font-family: $font-family-serif;

    &:before {
      content: none;
    }

    .poem-author {
      font-size: 60%;
    }
  }

  p {
    margin: 0 -.3em;
    text-align: left;
    max-height: 600px;
    letter-spacing: inherit;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 1em;

    &:before {
      content: none;
    }
  }
}

.poem-lr {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
}
