// ===============================================
// Elements / Button.styl                       ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"
@require "../mixins/button"

.btn
  make-button: #fff

  [class*=icon-]
    margin-right: .5em
    transform: scale(1.5)

.btn-primary
  set-button-color: color-primary

.btn-secondary
  set-button-color: color-secondary

.btn-success
  set-button-color: color-success

.btn-error
  set-button-color: color-error

.btn-warning
  set-button-color: color-warning

.btn-ghost
  make-ghost-button: #fff

  &.btn-primary
    set-ghost-button-color: color-primary

  &.btn-secondary
    set-ghost-button-color: color-secondary

  &.btn-success
    set-ghost-button-color: color-success

  &.btn-error
    set-ghost-button-color: color-error

  &.btn-warning
    set-ghost-button-color: color-warning

.btn-xl
  font-size: 1.5em

.btn-lg
  font-size: 1.25em

.btn-sm
  font-size: .75em

.btn-xs
  font-size: .5em
