// ===============================================
// Elements / Form.styl                         ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"
@require "../mixins/box"

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=week],
input[type=number],
input[type=search],
input[type=tel],
input[type=color],
select,
textarea
  width: 100%
  outline: none
  display: block
  max-width: 100%
  background: #fff
  padding: .5em .8em
  border-radius: 3px
  margin-bottom: .75em
  border: 1px solid color-border-normal

  &.disabled,
  &[disabled]
    cursor: not-allowed
    color: #999
    border-color: #ddd
    background-color: #f9f9f9

    &:active,
    &:focus
      border-color: #ddd

  &:active,
  &:focus
    border-color: color-border-normal

textarea
  padding: .2em .8em

label,
option
  &.disabled,
  &[disabled]
    cursor: not-allowed
    color: #999
    border-color: #DDD
    background-color: #f9f9f9

label
  margin-bottom: .2rem

.form-radius
  input,
  select,
  textarea,
  option,
  button,
  a.btn
    border-radius: 5px

.form-group
  padding: 0
  border: 0
  margin-bottom: .25em

  input
    margin: 0
    border-bottom: 0
    border-radius: 3px

    &:active,
    &:focus
      margin-bottom: -1px
      position: relative
      border-bottom: 1px solid color-border-normal

    &:last-child
      border-bottom: 1px solid color-border-normal

      &:active,
      &:focus
        margin-bottom: 0
        border-bottom-color: color-border-focus

  &.form-radius
    &:first-child
      border-top-radius: 5px

    &:last-child
      border-bottom-radius: 5px

.form-radius.form-group,
.form-radius .form-group
  input
    &:first-child
      border-top-radius: 5px

    &:last-child
      border-bottom-radius: 5px
