// ===============================================
// Components / Acommet.styl                    ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"

.acommets
  position: relative

  @media mq-tablet
    width: 80%

.commet
  right: -15px
  width: 120px
  font-size: .9em
  padding-top: .4em
  position: absolute
  font-style: normal
  font-weight: normal
  margin-right: -@width

  &:before
    top: 0
    left: 0
    width: 40%
    content: ''
    position: absolute
    border-top: 1px solid color-dark-grey

  &.commet-left
    left: -15px
    right: auto
    text-align: right
    margin-right: 0
    margin-left: -120px

    &:before
      right: 0
      left: auto

  @media mq-tablet
    width: 20%
    margin-right: -@width

    &.commet-left
      left: auto
      right: -15px
      margin-left: 0
      text-align: left
      margin-right: -20%
      margin-top: 10px

    &.commet-left:before
      left: 0
      right: auto

  @media mq-mobile
    position: static
    margin-right: 0

    &.commet-left
      margin: 0

    &:before
      border: 0
      content: '( '
      position: static
      padding-left: 5px

    &:after
      content: ' )'
