// ===============================================
// Components / Card.styl                       ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"

.card
  padding: 0
  background: #fff
  margin-bottom: 1em
  border-radius: 3px
  position: relative
  padding-bottom: .8em
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2)

  &.card-rich .card-head
    padding: 0
    margin: 0 -1px
    min-height: 50px
    position: relative
    margin-bottom: 1.8em

    img,
    .card-rich-img img,
    img.card-rich-img
      margin: 0
      border-top-radius: 3px

    .card-title,
    .card-subtitle
      left: 0
      bottom: 0
      color: #fff
      width: 100%
      padding: 0 .8em
      font-size: 1.8em
      position: absolute
      margin-bottom: .6em
      font-weight: normal
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .3)

    .card-subtitle
      left: auto
      right: 0
      font-size: 1em
      text-align: right
      margin-bottom: 1.4em

  &.z-radius.z-rich .card-head
    img,
    .card-rich-img img,
    img.card-rich-img
      border-top-radius: 5px

  * + .card-rich-img
    border-top-radius: 0

  .card-head
    padding: .8em 1.5em 1em

    .card-title
      font-size: 1.8em
      margin-bottom: 0

    .card-subtitle
      margin-top: -.8em
      margin-bottom: 0

    .card-rich-img
      margin: .8em -1.5em .8em
      text-align: center

      img
        margin: 0

    img.card-rich-img
      margin: .8em 0

  .card-rich-img + .card-head
    padding-top: .4em

  .card-content
    padding: .8em 1.5em
    color: color-normal
    line-height: 1.825

  img + .card-header
    margin-top: 0

  * + .card-content
    padding-top: 0

  .card-head + .card-content
    margin-top: -.8em

  .card-bar
    width: 100%
    padding: 0 1.5em
    line-height: 50px
    margin-bottom: -.8em
    border-top: 1px solid color-border-normal
    background: color-background-bar

    .btn
      margin: 1em .5em 1em 0
