// ===============================================
// Mixins / Border-Radius.styl                  ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

border-top-radius(n)
  border-radius n n 0 0

border-right-radius(n)
  border-radius 0 n n 0

border-bottom-radius(n)
  border-radius 0 0 n n

border-left-radius(n)
  border-radius n 0 0 n
