// ===============================================
// Mixins / Button.styl                         ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

/**
 * Create a normal button
 *
 * @param color background color
 */
make-button(color)
  border: 0
  outline: 0

  cursor: pointer
  border-radius: 3px

  text-align: center
  line-height: 1.5em
  text-decoration: none

  padding: .35em 1.2em
  display: inline-block
  vertical-align: middle

  box-shadow: 0 0 1px rgba(0, 0, 0, .4)
  transition: background .4s ease, box-shadow .2s ease

  set-button-color: color

  &:hover
    box-shadow: 0 0px 3px rgba(0, 0, 0, .4)

  &.active
  &:active
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4)

/**
 * Set color of normal button
 *
 * @param color background color
 */
set-button-color(color)
  if dark(color)
    color: #fff
  else
    color: color-normal

  background-color: color

  &.hover
  &:hover
    background-color: lighten(color, 6)

  &.active
  &:active
    background-color: darken(color, 4)

  &.disabled
  &[disabled]
    &
    &:hover
    &:active
      opacity: .6

      border: 0
      background: color

      box-shadow: none
      cursor: not-allowed

/**
 * Create a ghost button
 *
 * @param color background color
 */
make-ghost-button(color)
  color: color
  background-color: transparent

  text-shadow: none
  box-shadow: 0 0 0 1px

  &.hover
  &:hover
    box-shadow: 0 0 0 1px
    background-color: rgba(0, 0, 0, .3)

  &.active
  &:active
    box-shadow: 0 0 0 1px
    background-color: rgba(0, 0, 0, .6)

  &:visited
    color: #fff

/**
 * Change color of ghost button
 *
 * @param color button color
 */
set-ghost-button-color(color)
  color: color

  if dark(color)
    &:hover
    &.hover
      background: rgba(255, 255, 255, .3)

    &:active
    &.active
      background: rgba(255, 255, 255, .6)
